[user]
	name   = Basil L. Contovounesios
	email  = contovob@tcd.ie
[core]
	editor = emacs -nw
[color]
	ui     = auto
[alias]
	br     = branch
	co     = checkout
	ch     = cherry-pick
	dc     = diff --cached
	diffr  = diff -R # --ws-error-highlight=all # requires version > 2.5
	files  = !git status -s | awk '{print $2}'
	get    = fetch -p
	last   = log -1 HEAD
	l      = log --graph --all --oneline --decorate
	lg1    = log --graph --all --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lg2    = log --graph --all --abbrev-commit --decorate --format=format:'%C(bold cyan)%h%C(reset) - %C(bold blue)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(white)- %an%C(reset)'
	lg     = !git lg1
	rb     = rebase
	st     = status
	exeunt = reset HEAD --
